* { 
  box-sizing: border-box; 
}

.container {
  width: 100%;
  background: transparent;
  padding: 0;
}

/* Marquee styles */
.marquee {
  --gap: 1.5rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  background: rgba(253, 215, 0, 0.884);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem 0;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 25s linear infinite;
}

.marquee__content.reverse {
  animation: scroll-reverse 25s linear infinite;
}

.marquee:hover .marquee__content {
  animation-play-state: paused;
}

.marquee__content img {
  max-width: 100px;
  width: 100%;
  height: 60px;
  object-fit: contain;
  opacity: 1;
  transition: all 0.3s ease;
}

.marquee__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
}

.marquee__item:hover img {
  transform: scale(1.05);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
} 